/***************** START GENERAL RULES **************/
html {
    scroll-behavior: smooth;
}
header {
    background-color: #fff;
}
body {
    font-family: 'biryani', sans-serif;
}
p {
    text-align: justify;
    font-size: 16px;
}
.container-fluid.main {
    margin: 0;
    padding: 0;
}
.container-fluid.content {
    max-width: 80vw;
}

/***************** END GENERAL RULES **************/

/***************** START HEADER ********************/


/****** thankfull for the solution by vosidity https://bootstrap-menu.com/detail-autohide.html ****/

.scrolled-down{
  transform:translateY(-100%); transition: all 0.5s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.5s ease-in-out;
}
/********* navbar scroll solution end *******/

.navbar-brand {
  padding: 0;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 60px;
  font-size: 1.2em;
  font-weight: 500; 
}
.navbar {
    border: 0 5px solid #fff;
    width: 80vw;
    margin: 0 9vw;
}
.bg-custom {
    background-color: #fff;
}

/***************** END HEADER ********************/

/***************** START INTRO ********************/

.container-fluid.intro {
    max-width: 80vw;
    border: 5px solid #fff;
    margin: 15vh 9vw;    
}
.banner.img-fluid {
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 12vh;
}
p.intro-text {
   padding: 0;
   font-size: 1em;
}
/***************** END INTRO **************/

/***************** START MAIN ********************/
#content-box.container-fluid {
    border: 5px solid black;
    margin: 15vh 9vw;
    max-width: 80vw; 
}
h2 {
    margin: 12px 0 12px 0;
}
.subheadercb {
    font-size: .8em;
}
img.img-fluid {
    padding: 12px;
}
.img-col {
    padding: 0;
}
#text-col {
    padding: 12px;
}
audio {
    width: 100%;
}
/******** About Picture sizing ******/

.hallianz {
    height: 66.7%;
}
.stadtHalle {
    height: 27.6%;
}
.BMFSFJ {
    height: 37.7%;
}
.lotto {
    height: 75.6%;
}
.stadtMerseburg {
    height: 50%;
}

/***************** END MAIN ********************/


/***************** START FOOTER ********************/
div.footer {
    background-color: #FEE24F;
    border: 5px solid black;
    border-bottom: 0px;
    height: auto;    
    position: fixed;
    max-width: 80vw;
    padding: 0;
    margin: 0;
    left: 9vw;
    right: 9vw;
    bottom: 0;
    overflow: hide;
}
.footer  a {
    text-decoration: none;
    color: inherit;
}
.footer a:hover {
    color: slategrey;
}
svg.contact {
    width: 2em;
    height: 2em;
    margin: .3vh auto;
    display: inline;    
}

/***************** END FOOTER *******************

/********** START MEDIA QUERIES *********************/

/********** Extra extra Large devices only **********/
@media (min-width: 1400px) {
}

/********** Extra large devices only **********/
@media (min-width: 1200px) and (max-width: 1399px) {
}

/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}
/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) { 
}
/********** Extra small devices only **********/
@media (max-width: 575px) { 
}
   