html,
body {
    -webkit-text-zoom: reset !important;
    -ms-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important
}

@font-face {
    font-display: block;
    font-family: "Biryani";
    src: url('Biryani-Black.woff') format('woff');
    font-weight: 900
}

body>div {
    font-size: 0
}

p,
span
{
    margin: 0;
    word-spacing: normal;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    pointer-events: auto;
    max-height: 1000000000px
}

a {
    text-decoration: inherit;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.whitespacefix {
    word-spacing: -1px
}

html {
    font-family: sans-serif
}

body {
    font-size: 0;
    margin: 0
}

audio,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: 0 0;
    outline: 0
}

b,
strong {
    font-weight: 700
}


svg:not(:root) {
    overflow: hidden
}

:-webkit-full-screen-ancestor:not(iframe) {
    -webkit-clip-path: initial !important
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#b {
    background-color: #fff
}

@font-face {
    font-display:block;
    font-family:"Biryani";
    src:url('css/Biryani-Black.woff') format('woff');
    font-weight:900
   }

.c5 {
 z-index:7;
 pointer-events:auto
   }

.v16 {
    display:inline-block;
    vertical-align:top;
    /* overflow:hidden */
   }

.ps23 {
    position:relative;
    margin-left:5%;
    margin-right:5%;
   }

.s35 {
    min-height:240px;
    /*height:240px*/
   }

.c18 {
    z-index:6;
    pointer-events:auto
   }

.marg-418 {
    margin-top: 418px;
} 
.p2 {
    padding-top:0;
    text-indent:0;
    padding-bottom:0;
    padding-right:0;
    text-align:left
   }  

.f9 {
    font-family:Biryani;
    font-size:22px;
    font-weight:900;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    color:#000;
    background-color:initial;
    line-height:38px;
    letter-spacing:normal;
    text-shadow:none
   }

.p3 {
    padding-top:0;
    text-indent:0;
    padding-bottom:0;
    padding-right:0;
    text-align:justify
   }
.f10 {
    font-family:Biryani;
    font-size:15px;
    font-weight:900;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    color:#000;
    background-color:initial;
    line-height:27px;
    letter-spacing:normal;
    text-shadow:none
   }

.marg-246 {
    margin-top:246px
   }

.s36 {
    min-width:858px;
    width:858px;
    min-height:493px;
    height:493px
   }
.c19 {
    z-index:12;
    pointer-events:auto
   }

.marg-231 {
    margin-top:231px
   }

.s37 {
    min-width:848px;
    width:848px;
    min-height:93px;
    height:93px
   }

.marg-31 {
    margin-top:31px
   }

.s38 {
    min-width:849px;
    width:849px;
    min-height:54px
   }

.c20 {
    z-index:13;
    pointer-events:auto
   }

.pl1 .plyr {
    min-width:0
   }

.pl1 .plyr__controls {
    border:solid thin #d1dee1
   }

.pl1 .plyr--audio .plyr__controls {
    background:rgb(48,48,48)
   }

.pl1 .plyr__controls button {
    color:rgb(255,255,255)
   }

.pl1 .plyr__controls .plyr__time--current {
    color:rgb(255,255,255)
   }

.pl1 .plyr--full-ui input[type=range] {
    color:rgb(0,0,0)
   }

.pl1 .plyr--audio .plyr__control:hover {
    background:rgb(0,0,0)
   }

.audio1 {
    width:849px;
    height:54px
   }

.marg-296 {
    margin-top:296px
   }

.s39 {
    min-width:848px;
    width:848px;
    min-height:73px;
    height:73px
   }

.c21 {
    z-index:14;
    pointer-events:auto
   }

.marg-383 {
    margin-top:383px
   }

.s40 {
    min-width:848px;
    width:848px;
    min-height:119px;
    height:119px
   }

/* main content box in site's center*/   
.content {
    position: relative;
    margin-top: 0;
    display: block;
    *display: block;
    zoom: 1;
    vertical-align: top;
    min-width: 960px;
    width: 960px;
    margin-left: auto;
    margin-right: auto
}

.v18 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top
}

.ps31 {
    position: relative;
    margin-left: 0;
    margin-top: 0
}

.s43 {
    min-width: 960px;
    width: 960px;
    min-height: 1039px
}
.w1 {
    line-height: 0
}

.v19 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    overflow: hidden
}

.ps32 {
    position: relative;
    margin-left: 0;
    margin-top: -170px
}

.s45 {
    min-width: 960px;
    width: 960px;
    min-height: 106px
}

.c25 {
    z-index: 5;
    border: 0;
    background-color: #000;
    background-clip: padding-box
}


.ps33 {
    position: relative;
    margin-left: 101px;
}

.s46 {
    min-width: 31px;
    width: 31px;
    min-height: 838px;
    height: 838px
}

.c26 {
    z-index: 1;
    pointer-events: auto
}

.p5 {
    padding-top: 0;
    text-indent: 0;
    padding-bottom: 0;
    padding-right: 0;
    text-align: center
}

.f14 {
    font-family: Biryani;
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    color: #000;
    background-color: initial;
    line-height: 54px;
    letter-spacing: normal;
    text-shadow: none
}

.ps34 {
    position: relative;
    margin-left: 209px;
}

.s47 {
    min-width: 31px;
    width: 31px;
    min-height: 594px;
    height: 594px
}

.c27 {
    z-index: 2;
    pointer-events: auto
}

.s48 {
    min-width: 31px;
    width: 31px;
    min-height: 403px;
    height: 403px
}

.c28 {
    z-index: 3;
    pointer-events: auto
}

.s49 {
    min-width: 31px;
    width: 31px;
    min-height: 756px;
    height: 756px
}

.c29 {
    z-index: 4;
    pointer-events: auto
}

.ps35 {
    position: relative;
    margin-left: 108px;
    margin-top: -573px
}

.s50 {
    min-width: 778px;
    width: 778px;
    min-height: 619px;
    height: 619px
}

.c30 {
    z-index: 11;
    pointer-events: auto
}

.content img {
    /*display: block;
    overflow: hidden;*/
    width: 100%;
    height: 100%;
}